{% extends 'base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-6 offset-3">
				<h1 class="text-center my-3">Update Profile</h1> 
				<form action="{% url 'todolist:change_password' %}" method="post"> 
					{% csrf_token %}

					<div class="mb-3">
						<label for="first_name">First Name: </label>
						<input class="form-control" id="first_name" type="text" name="first_name" value="{{ first_name }}" maxlength="50" required>
					</div>

					<div class="mb-3">
						<label for="last_name">Last Name: </label>
						<input class="form-control" id="last_name" type="text" name="last_name" value="{{ last_name }}" maxlength="50" required>
					</div>

					<div class="mb-3">
						<label for="password">New Password: </label>
						<input class="form-control" id="password" type="password" name="password" value="{{ password }}" maxlength="50" required>
					</div>

					<div class="mb-3">
						<label for="confirm_pass">Confirm Password: </label>
						<input class="form-control" id="confirm_pass" type="password" name="confirm_pass" value="{{ confirm_pass }}" maxlength="50" required>
					</div>
					{% if pass_error == True %}
						<p class="text-danger text-center my-3">Password and Confirm Password do not match</p>
					{% endif %}

					<div class="text-center">
						<input class="btn btn-success" type="submit" value="Update Profile">
					</div>

				</form>
			</div>
		</div>
	</div>
{% endblock %}